/* Specific to THIS slide deck */
/* contains overwrites & stuff */

/* Presentation Header */
p.my-header {
  width: 10em;
}
p.my-header span {
  right: 1em;
}

img.topic {
    width: 30%;
}

a > .remark-inline-code {
  color: #FF5722;
}

